<div class="container">
  <!-- Content here -->
  <div class="list-group">
    <p id="Titulo">MENÚ</p>
    <a
      href="#"
      class="list-group-item list-group-item-action active"
      aria-current="true"
    >
      CARRERAS
    </a>
    <a href="#" class="list-group-item list-group-item-action">CURSOS</a>
    <a href="#" class="list-group-item list-group-item-action">AULA VIRTUAL</a>
    <a href="#" class="list-group-item list-group-item-action"
      >MEDIOS DE PAGO</a
    >
    <a class="list-group-item list-group-item-action disabled">Descuentos</a>
  </div>
</div>
